In [ ]:
import pandas as pd

filename = "/content/BEV326T3260_Bevoelkerung_nach-Geschlecht-Stadtkreis-Stadtquartier.xlsx"
population = pd.ExcelFile(filename)

In [ ]:
population.sheet_names

['Inhalt',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '2005',
 '2004',
 '2003',
 '2002',
 '2001',
 '2000',
 '1999',
 '1998',
 '1997',
 '1996',
 '1995',
 '1994',
 '1993']

In [ ]:
pop21 = pd.read_excel(filename, sheet_name="2021")
pop21

,T_1,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Bevölkerung,NaN,NaN,NaN
1,"nach Geschlecht, Stadtkreis und Stadtquartier",NaN,NaN,NaN
2,2021,NaN,NaN,NaN
3,,NaN,NaN,NaN
4,"Quelle: Statistik Stadt Zürich, BVS",NaN,NaN,NaN
5,,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,Total,Weiblich,Männlich
8,Ganze Stadt,436332,217671,218661
9,Kreis 1,5817,2697,3120
10,Rathaus,3275,1483,1792
11,Hochschulen,701,342,359
12,Lindenhof,1024,494,530
13,City,817,378,439
14,Kreis 2,36025,18399,17626
15,Wollishofen,19937,10317,9620
16,Leimbach,6338,3181,3157
17,Enge,9750,4901,4849
18,Kreis 3,50104,25176,24928
19,Alt-Wiedikon,17631,8609,9022
20,Friesenberg,10957,5670,5287
21,Sihlfeld,21516,10897,10619
22,Kreis 4,29023,13479,15544
23,Werd,4574,2178,2396
24,Langstrasse,11815,5127,6688
25,Hard,12634,6174,6460
26,Kreis 5,15804,7220,8584
27,Gewerbeschule,9583,4435,5148
28,Escher Wyss,6221,2785,3436
29,Kreis 6,35355,17936,17419
30,Unterstrass,24489,12417,12072
31,Oberstrass,10866,5519,5347
32,Kreis 7,38663,20402,18261
33,Fluntern,8777,4607,4170
34,Hottingen,11293,5852,5441
35,Hirslanden,7338,3911,3427
36,Witikon,11255,6032,5223
37,Kreis 8,17818,9205,8613
38,Seefeld,5862,3078,2784
39,Mühlebach,6408,3335,3073
40,Weinegg,5548,2792,2756
41,Kreis 9,57077,28268,28809
42,Albisrieden,22412,11361,11051
43,Altstetten,34665,16907,17758
44,Kreis 10,41017,20888,20129
45,Höngg,24510,12492,12018
46,Wipkingen,16507,8396,8111
47,Kreis 11,76975,37605,39370
48,Affoltern,26554,13263,13291
49,Oerlikon,23880,11545,12335
50,Seebach,26541,12797,13744
51,Kreis 12,32654,16396,16258
52,Saatlen,8788,4415,4373
53,Schwamendingen-Mitte,10975,5427,5548
54,Hirzenbach,12891,6554,6337

In [ ]:
pop21 = pop21.drop(range(0,9)).drop(["Unnamed: 2", "Unnamed: 3"], axis=1)
pop21

                     T_1 Unnamed: 1
9                Kreis 1       5817
10               Rathaus       3275
11           Hochschulen        701
12             Lindenhof       1024
13                  City        817
14               Kreis 2      36025
15           Wollishofen      19937
16              Leimbach       6338
17                  Enge       9750
18               Kreis 3      50104
19          Alt-Wiedikon      17631
20           Friesenberg      10957
21              Sihlfeld      21516
22               Kreis 4      29023
23                  Werd       4574
24           Langstrasse      11815
25                  Hard      12634
26               Kreis 5      15804
27         Gewerbeschule       9583
28           Escher Wyss       6221
29               Kreis 6      35355
30           Unterstrass      24489
31            Oberstrass      10866
32               Kreis 7      38663
33              Fluntern       8777
34             Hottingen      11293
35            Hirslanden       7338
36               Witikon      11255
37               Kreis 8      17818
38               Seefeld       5862
39             Mühlebach       6408
40               Weinegg       5548
41               Kreis 9      57077
42           Albisrieden      22412
43            Altstetten      34665
44              Kreis 10      41017
45                 Höngg      24510
46             Wipkingen      16507
47              Kreis 11      76975
48             Affoltern      26554
49              Oerlikon      23880
50               Seebach      26541
51              Kreis 12      32654
52               Saatlen       8788
53  Schwamendingen-Mitte      10975
54            Hirzenbach      12891

In [ ]:
pop21.columns = ["Gebiet", "Total"]
pop21

                  Gebiet  Total
9                Kreis 1   5817
10               Rathaus   3275
11           Hochschulen    701
12             Lindenhof   1024
13                  City    817
14               Kreis 2  36025
15           Wollishofen  19937
16              Leimbach   6338
17                  Enge   9750
18               Kreis 3  50104
19          Alt-Wiedikon  17631
20           Friesenberg  10957
21              Sihlfeld  21516
22               Kreis 4  29023
23                  Werd   4574
24           Langstrasse  11815
25                  Hard  12634
26               Kreis 5  15804
27         Gewerbeschule   9583
28           Escher Wyss   6221
29               Kreis 6  35355
30           Unterstrass  24489
31            Oberstrass  10866
32               Kreis 7  38663
33              Fluntern   8777
34             Hottingen  11293
35            Hirslanden   7338
36               Witikon  11255
37               Kreis 8  17818
38               Seefeld   5862
39             Mühlebach   6408
40               Weinegg   5548
41               Kreis 9  57077
42           Albisrieden  22412
43            Altstetten  34665
44              Kreis 10  41017
45                 Höngg  24510
46             Wipkingen  16507
47              Kreis 11  76975
48             Affoltern  26554
49              Oerlikon  23880
50               Seebach  26541
51              Kreis 12  32654
52               Saatlen   8788
53  Schwamendingen-Mitte  10975
54            Hirzenbach  12891

In [ ]:
pop21["Jahr"] = 2021
pop21

                  Gebiet  Total  Jahr
9                Kreis 1   5817  2021
10               Rathaus   3275  2021
11           Hochschulen    701  2021
12             Lindenhof   1024  2021
13                  City    817  2021
14               Kreis 2  36025  2021
15           Wollishofen  19937  2021
16              Leimbach   6338  2021
17                  Enge   9750  2021
18               Kreis 3  50104  2021
19          Alt-Wiedikon  17631  2021
20           Friesenberg  10957  2021
21              Sihlfeld  21516  2021
22               Kreis 4  29023  2021
23                  Werd   4574  2021
24           Langstrasse  11815  2021
25                  Hard  12634  2021
26               Kreis 5  15804  2021
27         Gewerbeschule   9583  2021
28           Escher Wyss   6221  2021
29               Kreis 6  35355  2021
30           Unterstrass  24489  2021
31            Oberstrass  10866  2021
32               Kreis 7  38663  2021
33              Fluntern   8777  2021
34             Hottingen  11293  2021
35            Hirslanden   7338  2021
36               Witikon  11255  2021
37               Kreis 8  17818  2021
38               Seefeld   5862  2021
39             Mühlebach   6408  2021
40               Weinegg   5548  2021
41               Kreis 9  57077  2021
42           Albisrieden  22412  2021
43            Altstetten  34665  2021
44              Kreis 10  41017  2021
45                 Höngg  24510  2021
46             Wipkingen  16507  2021
47              Kreis 11  76975  2021
48             Affoltern  26554  2021
49              Oerlikon  23880  2021
50               Seebach  26541  2021
51              Kreis 12  32654  2021
52               Saatlen   8788  2021
53  Schwamendingen-Mitte  10975  2021
54            Hirzenbach  12891  2021

In [ ]:
dfs = []

for year in population.sheet_names[1:]:
  dfi = pd.read_excel(filename, sheet_name=year)
  dfi = dfi.drop(range(0,9)).drop(["Unnamed: 2", "Unnamed: 3"], axis=1)
  dfi.columns = ["Gebiet", "Total"]
  dfi["Jahr"] = int(year)

  dfs.append(dfi)

In [ ]:
population = pd.concat(dfs)

In [ ]:
population = population.reset_index(drop=True)
population

                    Gebiet  Total  Jahr
0                  Kreis 1   5817  2021
1                  Rathaus   3275  2021
2              Hochschulen    701  2021
3                Lindenhof   1024  2021
4                     City    817  2021
...                    ...    ...   ...
1329               Seebach  17614  1993
1330              Kreis 12  27481  1993
1331               Saatlen   6472  1993
1332  Schwamendingen-Mitte  10175  1993
1333            Hirzenbach  10834  1993

[1334 rows x 3 columns]

In [ ]:
population.to_csv("population_zurich.csv")