<a href="https://colab.research.google.com/github/redadmiral/python-for-journalists/blob/main/lessons/Einf%C3%BChrungPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Einführung in Python

Python ist eine Programmiersprache. Mit einer Programmiersprache können wir unserem Computer sagen, was er zu tun hat. Eine Programmiersprache besteht aus vielen verschiedenen Teilen und eine der grundlegendsten Funktionen ist die `print()`-Funktion.

Mit ihr können wir dem Computer sagen, dass er etwas ausgeben soll. Was er ausgeben soll schreiben wir in Anführungszeichen in die Klammern:

In [1]:
print("Hallo Welt!")

Hallo Welt!

Wir sprechen dann davon, dass wir der Funktion ein Argument übergeben. Wenn ich die Zeile oben beschreiben möchte, würde ich sagen: "Ich übergebe der print-Funktion den Satz "Hallo Welt!" als Argument. 

Argumente sind immer die Sachen, die wir in die Klammer einer Funktion schreiben. Wir können vielen Funktionen auch mehr als ein Argument übergeben:

In [2]:
print("Hallo Welt!", "Es ist so gutes Wetter.")

Hallo Welt! Es ist so gutes Wetter.

Hier übergeben wir der `print()`-Funktion zwei Sätze als Argumente. Die Funktion ist so geschrieben, dass sie weiß, dass sie die zwei Sätze einfach mit einem Leerzeichen aneinander hängen soll.

Es gibt Argumente, die wir speziell auszeichnen können, um der Funktion zu erklären, was sie damit machen soll. Die print()-Funktion hat zum Beispiel die Möglichkeit ein anderes Trennzeichen zu benutzen als das Leerzeichen. Diesen "Separator" können wir festlegen, indem wir dem Parameter `sep` das neue Trennzeichen zuweisen:

In [3]:
print("Hallo Welt!", "Es ist so gutes Wetter.", sep=" --- ")

Hallo Welt! --- Es ist so gutes Wetter.

## Variablen

Eine der großen Stärken von Programmiersprachen ist, dass wir Werte unter bestimmten Namen speichern können:

In [4]:
hallo = "Hallo Welt!"

Mit dem `=` sagen wir Python, dass wir der Variable `hallo` den Wert `"Hallo Welt!"` zuweisen wollen.

Wenn wir jetzt "Hallo Welt!" ausgeben wollen, können wir direkt die Variable an die Funktion übergeben:

In [5]:
print(hallo)

Hallo Welt!

## Datentypen

Bei dem Satz "Hallo Welt!" macht es nicht so viel Sinn ihn in einer Variable zu speichern. Aber andere Datentypen in Python können viel komplexer sein, so dass es bequem ist, nur den Variablennamen tippen zu müssen.

### Strings

Die einfachen Datentypen sind Strings, also Zeichenketten, wie unser "Hallo Welt!" oben.

In [6]:
"Hallo Welt!"

'Hallo Welt!'

Um zu überprüfen, von welchem Typ etwas ist, hat Python die `type()`-Funktion.

Wenn wir einen beliebigen Wert an die Funktion übergeben, verrät sie uns von welchem Typ sie ist.

In [7]:
type("Hallo Welt!")

str

Der einfachste String ist der leere String, also einfach zwei Anführungszeichen:

In [8]:
""

''

Wir können strings auch zusammenkleben. Dafür benutzen wir den `+`-Operator:

In [9]:
"Hallo" + " " + "Welt" + "!"

'Hallo Welt!'

Und sogar multiplizieren können wir Strings:

In [11]:
"Hallo "*5

'Hallo Hallo Hallo Hallo Hallo '

## Numerische Daten

Es gibt neben den Strings noch Ganze Zahlen und Fließkommazahlen. 

Ganze Zahlen nennen sich "Integers":

In [12]:
type(4)

int

Wir können mit ihnen alles machen, was wir von Zahlen so kennen:

Wir können sie addieren

In [13]:
1+2

3

Oder subtrahieren

In [14]:
3-2

1

Oder multiplizieren

In [15]:
2*3

6

Wenn wir sie durcheinander teilen, und es nicht aufgeht, dann macht Python automatisch eine Fließkommazahl, eine `float` aus den `int`s.

In [16]:
3/4

0.75

In [17]:
type(3/4)

float

In der letzten Zeile sehen wir auch die Reihenfolge in der Python unsere Befehle verarbeitet. Es geht immer von innen nach außen vor: Zuerst berechnet es das Ergebnis von `3/4` und gibt das Ergebnis dann an die Funktion `type()` weiter.

Mit den floats können wir alles machen, was wir auch mit `int`s machen können.

## Boolsche Werte

Boolsche Werte können nur zwei Werte annehmen: `True` und `False`.

Wir brauchen sie immer dann, wenn wir Dinge miteinander vergleichen, etwa ob zwei Zahlen gleich sind:

In [73]:
2 == 2

True

In [74]:
2 == 3

False

Zwei `==` entsprechen dem "Istgleich" aus dem Matheunterricht, das einzelne Istgleich benutzen wir in Python nur, um einer Variable einen Wert zuzuweisen.

Wir können außerdem vergleichen, ob eine Zahl größer oder kleiner ist als die andere:

In [75]:
2 < 3

True

In [76]:
2 > 3

False

Diese Operatoren können wir mit einem `=` kombinieren, um zu sehen ob sie größer oder gleich sind:

In [77]:
2 < 2

False

In [78]:
2 <= 2

True

Außerdem können wir mit `!=` überprüfen, ob ein Wert ungleich einem anderen ist:

In [79]:
2 != 3

True

In [80]:
2 != 2

False


## Der None-Typ

`None` ist ein bisschen weird: Er ist der Nicht-Wert. Wenn einer Variable kein Wert zugewiesen ist, hat sie den Wert `None`. Das passiert zum Beispiel dann, wenn eine Funktion keinen Rückgabewert hat.

Auch wenn es komisch klingt, ist sie ein eigener Datentyp.

In [42]:
type(None)

NoneType

## Listen

Wenn wir verschiedene Werte zusammen speichern wollen, können wir sie in eine Liste packen. Diese erkennen wir daran, dass die Werte von einer eckigen Klammer umfasst sind.

In [19]:
[1, 2, 3]

['one', 'two', 'three']

In [ ]:
["one", "two", "three"]

Python erlaubt es uns zwar verschiedene Datentypen in einer Liste zusammenzufassen, aber es ist eine gute Idee diese nicht zu mischen. 

Das liegt daran, dass wir häufig Funktionen auf ganze Listen anwenden wollen. Wenn diese verschiedene Datentypen beinhaltet, dann kann die Funktion diese nicht verarbeiten. 

Eine solche Funktion ist etwa die `max()` Funktion. Sie gibt uns den höchsten Wert in einer Liste zurück:

In [22]:
max([2, 3, 4])

4

Wenn wir aber verschiedene Datentypen mischen, dann kann die Funktion nicht damit umgehen und wirft einen Fehler:

In [23]:
max([2, 3, "Hallo"])

TypeError: ignored

Listen haben die `.append()`-Methode um Dinge hinzuzufügen:

In [1]:
dogs = ["Terrier", "Retriever"]

In [2]:
dogs.append("Dackel")
dogs

['Terrier', 'Retriever', 'Dackel']

Und die `.pop()`-Methode um Einträge zu entfernen. Sie entfernt den letzten Wert aus der Liste und gibt ihn zurück:

In [3]:
dogs.pop()

'Dackel'

In [4]:
dogs

['Terrier', 'Retriever']

Wir können einer Liste natürlich auch andere Listen hinzufügen:

In [37]:
cats = ["Bengal", "German Rex", "Highlander", "European Shorthair"]

animals = [cats, dogs]
animals

[['Bengal', 'German Rex', 'Highlander', 'European Shorthair'],
 ['Terrier', 'Retriever']]

Wir können mit eckigen Klammern `[]` auch bestimmen, welche Teile von einer Liste wir extrahieren möchten. Wir können entweder einzelne Werte daraus ziehen, wobei Python hier immer bei Null anfängt zu zählen:

In [5]:
cats[0]

'Bengal'

Die Liste an sich bleibt dabei erhalten. Wenn wir die Teil-Liste speichern wollen, müssen wir das in einer neuen Variable machen.

In [6]:
cats

['Bengal', 'German Rex', 'Highlander', 'European Shorthair']

Wir können aber auch mehrere Elemente einer Liste extrahieren, indem wir den Bereich mit einem Doppelpunkt getrennt angeben. `cats[0:2]` extrahiert die ersten beiden Elemente aus der Liste, weil der zweite Index (also die 2) hier nicht inkludiert ist.

In [7]:
cats[0:2]

['Bengal', 'German Rex']

Statt das erste oder letzte Element explizit mit anzugeben, können wir es auch einfach weglassen:

In [8]:
cats[:2]

['Bengal', 'German Rex']

Und indem wir negative Zahlen übergeben, können wir die letzten Elemente einer Liste extrahieren. Hier fängt Python dann aber bei `-1` an zu zählen:

In [9]:
cats[-1]

'European Shorthair'

In [11]:
cats[-2:]

['Highlander', 'European Shorthair']

Wenn wir ein Element aus einer Liste von Listen haben wollen, können wir den Index auch verdoppeln. Um das erste Element aus der ersten Liste in `animals` zu bekommen, können wir schreiben:

In [41]:
animals[0][0]

'Bengal'

## Sets

Sehr ähnlich zu den Listen sind Sets. Diese können auch verschiedene Werte enthalten, der Unterschied zur Liste ist, dass jeder Wert nur einmal vorkommen darf und dass das Set sich die Reihenfolge nicht merkt, in der die Daten eingetragen sind.

Sets sind Werte in geschwungenen Klammern:

In [24]:
{1, 2, 3, 1}

{1, 2, 3}

Obwohl wir zwei Mal die eins hinzufügen, ist sie nur einmal im Set. Das ist immer dann praktisch, wenn wir bei vielen Werten nur wissen wollen, welche Werte überhaupt vorhanden sind.

In [25]:
[1, 2, 3, 1]

[1, 2, 3, 1]

Da sich ein Set nicht merkt, an welcher Stelle ein Eintrag kommt, funktioniert hier auch die Schreibweise mit den eckigen Klammern nicht, um Einträge zu extrahieren:

In [34]:
unique_cats = {"Bengal", "German Rex", "Highlander", "European Shorthair"}
unique_cats[2]

TypeError: ignored

Bei Sets können wir mit `.add()`  neue Elemente hinzufügen:

In [35]:
unique_cats.add("Munchkin")
unique_cats

{'Bengal', 'European Shorthair', 'German Rex', 'Highlander', 'Munchkin'}

Und mit `.pop()` Elemente entfernen. Nachdem die Reihenfolge nicht gewahrt wird, ist es aber zufällig, welches Element entfernt wird.

In [36]:
unique_cats.pop()

'European Shorthair'

## Dictionaries

Dictionaries sind ähnlich aufgebaut wie die namensgebenden Wörterbücher: Sie bestehen immer aus sogenannten Key-Value-Paaren.

Das kann zum Beispiel so aussehen:

In [38]:
cats_dict = {
    "Bengal": "Sweet and fluffy",
    "German Rex": "Standard German house cat. Still cute."
}

Wenn man dem Dictionary einen Key gibt, dann spuckt es den dazugehörigen Wert aus, so wie wenn man im Wörterbuch nach einem Wort (der Key) nachschlägt und dazu die Erklärung (den Value) bekommt.

In [40]:
cats_dict["Bengal"]

'Sweet and fluffy'

Auch bei Dictionaries können wir mit `.pop()` Elemente entfernen. Wir müssen aber angeben, welchen Key das Element hat, das wir entfernen möchten. Sonst wirft die Methode einen Fehler.

In [43]:
cats_dict.pop("Bengal")

'Sweet and fluffy'

Um neue Elemente hinzuzufügen, geben wir mit eckigen Klammern den Key an und weisen mit den `=` den neuen Wert zu:

In [46]:
cats_dict["Persian"] = "Extremely fluffy"
cats_dict

{'German Rex': 'Standard German house cat. Still cute.',
 'Persian': 'Extremely Fluffy'}

Auch hier können wir wieder eine Liste übergeben und mit den eckigen Klammern direkt auf ein Element in der Liste mit einem bestimmten Key zugreifen:

In [47]:
animals_dict= {
    "cats": cats,
    "dogs": dogs
}

In [48]:
animals_dict["cats"][0]

'Bengal'

## Funktionen

Wir erinnern uns an die `print()`-Funktion. Wir übergeben ihr einen oder mehrere Strings, sie verarbeitet sie und gibt sie zurück.

Das ist die grundlegende Idee hinter einer Funktion: Sie funktionieren wie kleine Daten-Maschinen. Wir geben etwas in sie hinein (den Input) sie verarbeiten es und geben das was sie verarbeitet haben wieder zurück.

Solche Funktionen können wir auch selbst schreiben, man nennt das die Funktion definieren. Deshalb beginnen wir mit dem Wörtchen `def` wenn wir die Funktion definieren wollen. 


```python
def
```

Darauf folgt der Name der Funktion:

```python
def double
```

Unsere Funktion wird eine Zahl verdoppeln, deshalb nennen wir sie `double`. Wir können ihr aber auch jeden anderen Namen geben den wir wollen. Es ist nur Konvention, dass wenn man mehrere Wörter verwendet, diese mit einem Unterstrich trennt, also z.B. `double_number` schreibt.

Als nächstes bekommt die Funktion ein paar Klammern spendiert:

```python
def double()
```

In diese Klammern schreiben wir, was wir der Funktion übergeben, den sogeannanten Parameter.

```python
def double(number)
```

Und schließen das mit einem Doppelpunkt ab, damit Python weiß, dass jetzt der formale Teil abgeschlossen ist.

```python
def double(number):
```

Die nächste Zeile müssen wir mit zwei Leerzeichen einrücken, damit Python weiß, dass der folgende Teil noch zur Funktionsdefinition gehört. Das Colab-Notebook übernimmt das aber für uns automatisch. Hier schreiben wir was die Funktion machen soll, nämlich die übergebene Zahl `number` verdoppeln.


```python
def double(number):
  result = number*2
```

Damit verdoppelt Python jetzt zwar die Zahl und schreibt sie in eine Variable `result`, aber gibt sie nicht wieder zurück. Dafür brauchen wir das `return`-Statement:

```python
def double(number):
  result = number*2
  return result
```

Damit haben wir unsere Funktion fertig gebaut: Wir können ihr eine Zahl übergeben, sie verarbeitet sie und gibt sie wieder zurück. 

Das können wir jetzt ausprobieren:

In [51]:
def double(number):
  result = number*2
  return result

Jetzt können wir die Funktion aufrufen, indem wir ihr eine Zahl übergeben:

In [55]:
double(number=2)

4

Eine Funktion kann natürlich auch mehrere Argumente nehmen. Wir können zum Beispiel eine Funktion schreiben, die beliebige Zahlen multipliziert:

In [53]:
def multiply(number, multiplier):
  return number*multiplier

multiply(number=2, multiplier=3)

6

Die Parameter in Funktionen können auch Standardwerte zugewiesen bekommen, so dass wir häufig benutzte Werte nicht immer wieder neu eingeben müssen. 

Wenn wir der `multiply()`-Funktion den Standardwert 2 für den multiplier geben, dann verdoppelt sie uns die Zahl wenn wir ihr nur ein Argument mitgeben.

In [54]:
def multiply(number, multiplier=2):
  return number*multiplier

multiply(number=2)

4

Diesen Standardwert können wir einfach überschreiben, indem wir der Funktion zwei Werte übergeben:

In [56]:
multiply(number=2, multiplier=5)

10

Und es funktioniert auch die Namen der Paramter wegzulassen, auch wenn es dann ein wenig unübersichtlicher werden kann:

In [57]:
multiply(2, 5)

10

## Einrückungen und Namespaces

Wir haben bei der Funktions-Definition oben gesehen, dass wir einen Teil der Funktion ein wenig eingerückt haben. Wie gesagt, war das dafür dass Python weiß, was zur Funktion gehört und was nicht.

Was oft verwirrend ist, ist dass Variablen, die in einer Einrückung definiert werden auch nur dort gelten. In einer Definition kann man aber auf die Variablen von einer Einrückungsstufe höher zugreifen:

In [59]:
outside_var = 2

def example():
  return outside_var 

example()

2

Andersherum funktioniert das aber nicht:

In [60]:
def example():
  inside_var = 2
  return None

inside_var

NameError: ignored

Das heißt auch, dass Variablennamen je nach Einrückung doppelt belegt sein können:

In [61]:
outside_var = 2

def example():
  outside_var = 10
  return outside_var 

print(example(), outside_var)

10 2

Man spricht hier von verschiedenen "Namespaces", also Räume in denen Namen gelten. Jede Stufe der Einrückung macht einen neuen Namespace auf, so dass Namen die dort definiert werden nur hier und in niedrigeren Einrückungen gelten.

Sowas macht den Code aber schwerer zu verstehen. Deshalb sollte man immer versuchen, Variablennamen nur einfach zu belegen.

## If/Else

Sehr häufig müssen wir anhand eines Werts entscheiden, wie wir in unserem Programm weitermachen. Dafür haben wir `if`/`else`-Conditions. 

Sie funktionieren prinzipiell nach dem Prinzip: Wenn etwas erfüllt ist, dann mach das eine und wenn nicht, mach das andere. 

Zum Beispiel wollen wir wissen, ob eine Zahl größer oder kleiner ist als eine andere. Dann schreiben wir:

In [70]:
number = 2

if number > 10:
  print("Number is larger than 10.")
else:
  print("Number is smaller than 10.")

Number is smaller than 10.

In [71]:
number = 12

if number > 10:
  print("Number is larger than 10.")
else:
  print("Number is smaller than 10.")

Number is larger than 10.

Wenn wir mehrere Conditions haben, dann können wir noch `elif`-Conditions auf der Hälfte einführen:

In [72]:
number = 7

if number > 10:
  print("Number is larger than 10.")
elif number > 5 and number <= 10:
  print("Number is between 5 and 10")
else:
  print("Number is smaller than 10.")

Number is between 5 and 10

Bei der `elif`-Condition sehen wir ein neues Konzept: Wir können Conditions mit `and` oder `or` verknüpfen. 

Bei einer Verknüpfung mit `and` müssen beide Seiten `True` sein, damit sie `True` zurückgibt:

In [81]:
True and True

True

In [82]:
True and False

False

Bei `or` muss nur eine Seite `True` sein, damit sie `True` zurückgibt.

In [83]:
True or False

True

In [84]:
False or False

False

In [85]:
True or True

True

Natürlich schreibt man das nicht explizit mit `True` und `False`-Werten, sondern nutzt dafür die Conditions, wie oben im `elif`-Statement.

In [86]:
2 < 3 and 4 == 4

True

## Schleifen

Wir haben oben bereits Listen, Sets und Dictionaries kennengelernt, die alle aus einer Ansammmlung einzelner Elemente bestehen.

Wenn wir jedes der Elemente in diesen Datentypen anschauen und eventuell verändern möchten, dann brauchen wir dafür eine Schleife. Die gängigste Schleife ist die `for`-Schleife.

Wenn wir über unsere Liste `cats` iterieren wollen (so nennt man das, wenn man sich mit einer Schleife jedes Element in einer Liste anschaut) schreiben wir die for-Schleife wie folgt:

In [62]:
for cat in cats:
  print(cat)

Bengal
German Rex
Highlander
European Shorthair

Das ging jetzt ziemlich schnell. Um das ein bisschen langsamer zu machen, pausieren wir die Schleife bei jeder Runde für eine Sekunde. Was hier genau passiert, ist noch nicht so wichtig. Ich will nur die Schleife besser veranschaulichen.

In [63]:
from time import sleep

for cat in cats:
  print(cat)
  sleep(1)

Bengal
German Rex
Highlander
European Shorthair

Das heißt, dass Python für jedes Element (`cat`) aus der Liste `cats` einmal die `print()`-Funktion aufrufen.

Wir können die Liste so aber nicht verändern, weil wir nur die Variable `cat` verändern würden, ohne sie zurück in die Liste zu schreiben:

In [64]:
for cat in cats:
  cat = "dog"

cats

['Bengal', 'German Rex', 'Highlander', 'European Shorthair']

Um die Liste verändern zu können, müssen wir direkt, also mit den eckigen Klammern auf die Liste zugreifen. Dafür können wir die `enumerate()`-Funktion verwenden. Mit ihr bekommen wir zwei Werte zurück: Den Index den wir in die eckigen Klammern schreiben können und den Wert:

In [68]:
for i, cat in enumerate(cats):
  print(i)
  print(cat)

0
Bengal
1
German Rex
2
Highlander
3
European Shorthair

Und wenn wir die Liste verändern wollen, schreiben wir das so:

In [69]:
for i, cat in enumerate(cats):
  cats[i] = "dog"

cats

['dog', 'dog', 'dog', 'dog']

Ein seltener verwendeter Schleifentyp ist die `while`-Schleife. Diese wird so lange ausgeführt, bis eine gewisse Condition erfüllt ist:

In [87]:
i = 0

while(i < 10):
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9