<a href="https://colab.research.google.com/github/redadmiral/python-for-journalists/blob/main/exercises/UebungPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Übung Einführung in Pandas

1. Importiere die Bibliothek `pandas`. Nutze dafür das im Video besprochene Kürzel.

2. Erstelle aus der Liste `cities` einen `DataFrame` mit dem Namen `cities_df`.

                0
0        Nürnberg
1         München
2          Berlin
3  Frankfurt/Main

3. Benenne die Spalte mit den Stadtnamen in `names` um.

In [8]:
assert "names" in cities_df.columns

4. Füge eine zweite Spalte mit den Einwohnerzahlen hinzu. Benenne sie in `population`.

1597105.25

In [14]:
assert cities_df.size == 8
assert cities_df["population"].mean() == 1597105.25

5.1 Erstelle aus den beiden Listen ein Dictionary `cities_dict` mit den Keys `names` und `population`. In den Keys soll die jeweilige Liste gespeichert sein.

In [22]:
assert isinstance(cities_dict, dict)
assert len(cities_dict.keys()) == 2
assert sum(cities_dict["population"])/4 == 1597105.25

5.2 Erstelle aus dem Dictionary `cities_dict` einen `DataFrame` mit dem Namen `cities_dict_df`.

In [27]:
assert isinstance(cities_dict_df, pd.DataFrame)
assert cities_dict_df.size == 8
assert cities_dict_df["population"].mean() == 1597105.25
assert list(cities_dict_df.columns) == ["names", "population"]

6. Welche zwei Arten kennst du, um auf die Spalte `population` im Dataframe `cities_dict_df` zuzugreifen?