<a href="https://colab.research.google.com/github/redadmiral/python-for-journalists/blob/main/exercises/UebungDataCleaningPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Übung Data Cleaning

Zuerst lesen wir wieder den Datensatz mit den Hundenamen aus der letzten Übung ein. Nutze dafür den Datensatz der unter [https://data.stadt-zuerich.ch/dataset/sid_stapo_hundenamen_od1002/download/KUL100OD1002.csv](https://data.stadt-zuerich.ch/dataset/sid_stapo_hundenamen_od1002/download/KUL100OD1002.csv) liegt und die `pd.read_csv()`-Funktion.

Speichere den Datensatz in der Variable `dognames`.

In [ ]:
import pandas as pd

In [78]:
assert dognames.size == 445739

2. In der letzen Übung haben wir uns bereits die Hundenamen angesehen. Dabei haben wir auch einen String gefunden der darauf hindeutet, dass es kein echter Hundename ist, sondern ein fehlender Wert. Welcher Wert war das?

3. Auch in der Spalte `GebDatHundJahr` sind fehlende Werte, die nicht als solche gekennzeichnet sind. Die fehlenden Werte sind nach der gleichen Systematik benannt wie in dem Datensatz im Video. Welcher Wert steht hier für den fehlenden Wert?

Wie kannst du diesen Wert mit Pandas herausfinden?

  4.1 Der fehlende Wert in der Spalte `GebDatHundJahr` ist 9999.

  Erstelle eine Maske namens `mask_na_year` in der jede Zeile in der 9999 als  Geburtsjahr eingetragen ist, mit `True` versehen und die restlichen Zeilen mit `False` maskiert sind.

In [81]:
assert mask_na_year.sum() == 8

4.2 Benutze die Methode `.mask()`, um wie im Video die fehlenden Werte durch `pd.NA` zu ersetzen. Speichere das Ergebnis in die Variable `dognames_mask`.

In [83]:
assert dognames_mask.isna().sum() == 8

4.2 Benutze die `.replace()`-Methode um die fehlenden Werte in der Spalte `HundenameText` (also die `?`) in `dognames` durch `pd.NA` zu ersetzen. Speichere das Ergebnis in `dognames_replace`.

In [85]:
assert dognames_replace.isna().sum() == 27

4.3 Ersetze jetzt die Spalte `GebDatHundJahr` durch die Series in der Variable `dognames_mask` und die Spalte `HundenameText` durch die Series in der Variable `dognames_replace`.

In [87]:
assert dognames.isna().sum().sum() == 35
assert dognames["GebDatHundJahr"].isna().sum() == 8
assert dognames["HundenameText"].isna().sum() == 27